* {
    margin: 0;
    padding: 0;
}

.navbar {
    /* border: 2px solid red; */
    background-color: #131921;
}

ul {
    display: flex;
}

.logo {
    width: 106px;
    height: 54px;
    margin: 6px 7px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar li {
    list-style: none;
}

.region {
    height: 30px;
    width: 40px;
    margin: 17px 61px;
}

.delivery {
    padding: 2px 12px;
    margin: 15px 1px;
}

input {
    width: 735px;
    height: 50px;
    border: 2px solid;
    margin: 10px -12px;
}

.acc {
    margin: 15px -16px;
}

.return {
    margin: 15px 57px;
}

.cart {
    margin: 17px -15px;
}

.btn2 {
    margin: 2px 2px;
    height: 46px;
    width: 47px;
    position: absolute;
    top: 10px;
    right: 429px;
    background-color: #febd69;
    border: none;
    font-size: 23px;
}

.btn1 {
    margin: 2px 2px;
    height: 46px;
    width: 47px;
    position: absolute;
    top: 10px;
    left: 275px;
    border: navajowhite;
}

.main-navbar {
    background-color: #232f3e;
}

.menu {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    position: relative;
    top: 10px;
}

p {
    display: inline-block;
    position: absolute;
    top: 81px;
    left: 28px;
    font-size: 15px;
    color: #fff;
}

.left {
    margin: -4px 2px;
    display: inline-block;
}

.main-containt {
    display: flex
}

.main-containt li {
    list-style: none;
}

.main-containt li a {
    text-decoration: none;
    font-size: 15px;
    padding: 1px 13px;
    position: relative;
    top: -11px;
    left: 45px;
    color: #fff;
}

.right img {
    width: 275px;
    height: 30px;
    position: absolute;
    top: 71px;
    right: 0px;
}



.main-containt li a:hover {
    border: 1px solid #fff;
}
.cart:hover{
    border: 1px solid #fff;
}
.return:hover{
    border: 1px solid #fff;
}
.logo:hover{
    border: 1px solid #fff;
}
.delivery:hover{
    border: 1px solid #fff;
}
.region:hover{
    border: 1px solid #fff;
}
.acc:hover{
    border: 1px solid #fff;
}
.left:hover{
    border: 1px solid #fff; 
}

.right img:hover{
    border: 1px solid #fff; 
}

/* section slider */
.slider img{
    width: 100%;
    height: 100%;
}
.img-pc img{
    width: 60px;
height: 60px;
}
#box1 h2{
    position: absolute;
top: 14px;
left: 78px;
}

#box1 .customer{
    padding: 4px 5px;
    position: relative;
    top: -31px;
    left: 74px;
    color: black;
    }

#box1{
/* border: 2px solid red; */
position: absolute;
top: 417px;
left: 12px;
width: 298px;
height: 420px;
background-color: #fff;
}

.link p{
    position: relative;
    top: -19px;
    left: 10px;
    color: black;
    
}
.table-raw1{
    position: absolute;
    top: 109px;
    display: flex;
}
.table-raw1 img{
    width: 149px;
    height: 105px;
    display: flex;
}
.order {
    position: relative;
    top: 8px;
    left: 29px;
    color: black;
    }
    .mobile{
        position: relative;
        top: 8px;
        left: 34px;
        color: black;  
    }
    .table-raw2{
        position: absolute;
        top: 109px;
        display: flex;
    }
    .table-raw2 img{
        width: 149px;
        height: 105px;
        display: flex;
    }
    .fashion {
        position: relative;
        top: 8px;
        left: 37px;
        color: black;
        }
        .grosery{
            position: relative;
            top: 8px;
            left: 50px;
            color: black;  
        }
        .tb1{
            position:absolute;
            top: 6px;
        }
        .tb2{
            position:absolute;
            top: 179px;
        }
.img-pc{
    margin: 6px 8px;
}

/* box2 */
.img-pc img{
    width: 60px;
height: 60px;
}
#box2 h2{
    position: absolute;
top: 14px;
left: 78px;
}

#box2 .customer{
    padding: 4px 5px;
    position: relative;
    top: -31px;
    left: 74px;
    color: black;
    }

#box2{
/* border: 2px solid red; */
position: absolute;
top: 417px;
left: 388px;
width: 298px;
height: 420px;
background-color: #fff;
}

.link p{
    position: relative;
    top: -19px;
    left: 10px;
    color: black;
    
}
.table-raw1{
    position: absolute;
    top: 109px;
    display: flex;
}
.table-raw1 img{
    width: 149px;
    height: 105px;
    display: flex;
}
.order {
    position: relative;
    top: 8px;
    left: 29px;
    color: black;
    }
    .mobile{
        position: relative;
        top: 8px;
        left: 34px;
        color: black;  
    }
    .table-raw2{
        position: absolute;
        top: 109px;
        display: flex;
    }
    .table-raw2 img{
        width: 149px;
        height: 105px;
        display: flex;
    }
    .fashion {
        position: relative;
        top: 8px;
        left: 37px;
        color: black;
        }
        .grosery{
            position: relative;
            top: 8px;
            left: 50px;
            color: black;  
        }
        .tb1{
            position:absolute;
            top: 6px;
        }
        .tb2{
            position:absolute;
            top: 179px;
        }
.img-pc{
    margin: 6px 8px;
}

/* box3 */
.img-pc img{
    width: 60px;
height: 60px;
}
#box3 h2{
    position: absolute;
top: 14px;
left: 78px;
}

#box3 .customer{
    padding: 4px 5px;
    position: relative;
    top: -31px;
    left: 74px;
    color: black;
    }

#box3{
/* border: 2px solid red; */
position: absolute;
top: 417px;
left: 754px;
width: 298px;
height: 420px;
background-color: #fff;
}

.link p{
    position: relative;
    top: -19px;
    left: 10px;
    color: black;
    
}
.table-raw1{
    position: absolute;
    top: 109px;
    display: flex;
}
.table-raw1 img{
    width: 149px;
    height: 105px;
    display: flex;
}
.order {
    position: relative;
    top: 8px;
    left: 29px;
    color: black;
    }
    .mobile{
        position: relative;
        top: 8px;
        left: 34px;
        color: black;  
    }
    .table-raw2{
        position: absolute;
        top: 109px;
        display: flex;
    }
    .table-raw2 img{
        width: 149px;
        height: 105px;
        display: flex;
    }
    .fashion {
        position: relative;
        top: 8px;
        left: 37px;
        color: black;
        }
        .grosery{
            position: relative;
            top: 8px;
            left: 50px;
            color: black;  
        }
        .tb1{
            position:absolute;
            top: 6px;
        }
        .tb2{
            position:absolute;
            top: 179px;
        }
.img-pc{
    margin: 6px 8px;
}
/* box4 */
.img-pc img{
    width: 60px;
height: 60px;
}
#box4 h2{
    position: absolute;
top: 14px;
left: 78px;
}

#box4 .customer{
    padding: 4px 5px;
    position: relative;
    top: -31px;
    left: 74px;
    color: black;
    }

#box4{
/* border: 2px solid red; */
position: absolute;
top: 417px;
left: 1130px;
width: 298px;
height: 420px;
background-color: #fff;
}

.link p{
    position: relative;
    top: -19px;
    left: 10px;
    color: black;
    
}
.table-raw1{
    position: absolute;
    top: 109px;
    display: flex;
}
.table-raw1 img{
    width: 149px;
    height: 105px;
    display: flex;
}
.order {
    position: relative;
    top: 8px;
    left: 29px;
    color: black;
    }
    .mobile{
        position: relative;
        top: 8px;
        left: 34px;
        color: black;  
    }
    .table-raw2{
        position: absolute;
        top: 109px;
        display: flex;
    }
    .table-raw2 img{
        width: 149px;
        height: 105px;
        display: flex;
    }
    .fashion {
        position: relative;
        top: 8px;
        left: 37px;
        color: black;
        }
        .grosery{
            position: relative;
            top: 8px;
            left: 50px;
            color: black;  
        }
        .tb1{
            position:absolute;
            top: 6px;
        }
        .tb2{
            position:absolute;
            top: 179px;
        }
.img-pc{
    margin: 6px 8px;
}

/* prime video banner section*/
.primevideo-banner{
    
    position: absolute;
    top: 875px;
    left: 14px;
}
.prime-main h2{
    position:absolute;
    top: 6px;
left: 5px;
color: #fff;
font-size: 28px;
font-weight: 700;
}
.prime-main p{
    position:absolute;
    top: 39px;
left: 5px;
color: #fff;  
}
.footer p{
    position:absolute;
   top: 425px;
left: 5px;
color: #fff; 
}
/* section2 box5 */
#box5 h2{
    position: absolute;
top: 14px;
left: 78px;
}

#box5 .customer{
    padding: 4px 5px;
    position: relative;
    top: -31px;
    left: 74px;
    color: black;
    }

#box5{
/* border: 2px solid red; */
position: absolute;
top: 890px;
left: 845px;
width: 298px;
height: 420px;
background-color: #fff;
}

.link p{
    position: relative;
    top: -19px;
    left: 10px;
    color: black;
    
}
.table-raw1{
    position: absolute;
    top: 109px;
    display: flex;
}
.table-raw1 img{
    width: 149px;
    height: 105px;
    display: flex;
}
.order {
    position: relative;
    top: 8px;
    left: 29px;
    color: black;
    }
    .mobile{
        position: relative;
        top: 8px;
        left: 34px;
        color: black;  
    }
    .table-raw2{
        position: absolute;
        top: 109px;
        display: flex;
    }
    .table-raw2 img{
        width: 149px;
        height: 105px;
        display: flex;
    }
    .fashion {
        position: relative;
        top: 8px;
        left: 37px;
        color: black;
        }
        .grosery{
            position: relative;
            top: 8px;
            left: 50px;
            color: black;  
        }
        .tb1{
            position:absolute;
            top: 6px;
        }
        .tb2{
            position:absolute;
            top: 179px;
        }
.img-pc{
    margin: 6px 8px;
}
/* section2 box6 */
#box6 h2{
    position: absolute;
top: 14px;
left: 78px;
}

#box6 .customer{
    padding: 4px 5px;
    position: relative;
    top: -31px;
    left: 74px;
    color: black;
    }

#box6{
/* border: 2px solid red; */
position: absolute;
top: 890px;
left: 1155px;
width: 298px;
height: 420px;
background-color: #fff;
}

.link p{
    position: relative;
    top: -19px;
    left: 10px;
    color: black;
    
}
.table-raw1{
    position: absolute;
    top: 109px;
    display: flex;
}
.table-raw1 img{
    width: 149px;
    height: 105px;
    display: flex;
}
.order {
    position: relative;
    top: 8px;
    left: 29px;
    color: black;
    }
    .mobile{
        position: relative;
        top: 8px;
        left: 34px;
        color: black;  
    }
    .table-raw2{
        position: absolute;
        top: 109px;
        display: flex;
    }
    .table-raw2 img{
        width: 149px;
        height: 105px;
        display: flex;
    }
    .fashion {
        position: relative;
        top: 8px;
        left: 37px;
        color: black;
        }
        .grosery{
            position: relative;
            top: 8px;
            left: 50px;
            color: black;  
        }
        .tb1{
            position:absolute;
            top: 6px;
        }
        .tb2{
            position:absolute;
            top: 179px;
        }
.img-pc{
    margin: 6px 8px;
}

/* main slider */
 
.mid-slider{

position: absolute;
top: 1362px;
 }
 .list img{
     height: 270px;
     width: 287px;
 }
 .see{
     position: absolute;
     top: 0;
     left: 140px;
 }
 .list p{
     position:relative;
     color: black;
     top: 2px;
     padding: 2px 20px;
 }
 .list ul{
     list-style: none;
 }
 .background{
    background: #0fd4d4;
 }